body {
    padding: 0 ;
    margin: 0;
    background-color: #40513B;
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    padding-top: 1%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.search-box{
    display: flexbox;
    border: none;
    /* border: #40513B; */
    background-color: rgb(211, 224, 186);
    opacity: 80%;
    width: 85%;
    margin-left: 5%;
    padding: 10px;
    border-radius: 50px;
    font-size: 2rem;
    margin-top: 2%;
}

.add-btn{
    display: flexbox;
    /* margin-left: auto; */
    border: #40513B;
    background-color: #EDF1D6;
    border-radius: 29px;
    text-align: center;
    /* width: 6%; */
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    color: #374433;     
}

hr{
    border-top: 2px solid #758d6a;
    border-bottom: 1px solid #4d554a;
    margin-top: 2%;
    width: 100%;
}
/* ############################################## */

ul { 
    margin: 2%; 
    padding: 10px 0px 10px 100px; 
    display: flex; 
    background: #9DC08B; 
    border-radius: 25px;
} 

ul li { 
    list-style: none; 
    padding: 2px 20px;
    margin-left: 8%;
    
} 

.list1 {
    margin-left: 30%;
}

.list2 {
    margin-left: 10%;
}

.list3 {
    margin-left: 8%;
}


ul li a { 
    text-decoration: none; 
    font-size: 20px; 
    font-weight: bold; 
    color: #374433; 
    position: relative; 

} 


.button {
    background-color: #9DC08B;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px 2px;
    border-radius: 29px;  
    padding: 15px;
    font-size: 25px;
    font-weight: bold;
    margin-left: 1%;
    margin-top: 2%;
    width: 10%;
}

.button a{
    text-decoration: none;
    color: #374433;
}


.button2 {
    margin-left: 2%;
}


.popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}
.popup-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 30%;
    font-weight: bolder;
    border-radius: 30px;
}
.popup-content button {
    display: block;
    margin: 0 auto;
}
.show {
    display: block;
}
h1 {
    text-align: center;
    color: #4d554a;
} 

p{
    color: #374433;
    margin-top: 20px;
}
.Name-box {
    border: none;
    border-bottom: 2px solid olivedrab;
    width:100%;
}

.Expire-box {
    border: none;
    border-bottom: 2px solid olivedrab;
    width:100%;
    margin-bottom: 20px;
}

select{
    appearance: none;
    outline: 0;
    background: #9DC08B;
    width: 100%;
    height: 100%;
    color: black;
    cursor: pointer;
    border: 1px solid #40513B;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 50px;
}

.popbox{
    border: none;
    background-color: #758d6a;
    margin-top: 20px;
    padding: 4px 4px 4px 4px; 
    border-radius: 24px;
    width: 70px;
    font-size: 20px;
    text-align: center;
}

.Close {
    position: absolute; 
    background-color: grey;
}


.Add {
    position: relative;
    left: 0;
}

